p span {
  font-weight: bold;
}
.full-profile {
  height: calc(100vh - 61px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.full-profile-card {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
@media (min-width: 768px) {
  .full-profile-card {
    width: 50vw;
  }
}
